/*form {
    margin: auto;
    position: relative;
    font-family: helvetica, arial;
    font-size: 14px;
    color: #09c;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
*/

body{
    background-color: #F6F6F6;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#loginbox {
    margin-top: 100px;
}

div h1{
    font-style: italic;
    color: #09c;
    font-size: 60px;
}

#login{
    margin: 0 auto 20px;
    position: relative;
    font-size: 12px;
    color: #09c;
    display: block;
    height: 175px;
    width: 245px;
    padding: 19px 29px 29px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
}

input[type=submit]{
	cursor:pointer; 
	padding:5px 25px; 
	background:#09c; 
	border:1px solid #33842a; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#f3f3f3;
	font-size:1.1em;

}

input[type=button]{
	cursor:pointer; 
	padding:5px 25px; 
	background:#09c; 
	border:1px solid #33842a; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#f3f3f3;
	font-size:1.1em;
}

/*
#login h2 {
    float: left;
}
*/



