{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />

<!DOCTYPE html>

<html>
<body>
    {{error}} <br>
    <div align = "center">
    <b> Add a recommendation </b>
    <form method = "post"> {% csrf_token %}
        <input type = "hidden" name = "fid" value = "1">
        <input type = "text" name = "new">
        <input type = "submit">
    </form>
    </div>

    <div id = "bothcol">
    <div style="float: left; margin-left: 60px">
        <ul>
       
	<div id = "leftcol"> 
        <b> Recommended to {{friend}} </b>
    
        <form method = "post"> {% csrf_token %}
            <input type = "hidden" name = "fid" value = "2">
        {% for r in recto %}
            <ol>
            <input type = "checkbox" name = "completed"  value = {{r.name}}>
            {{r.name}}
            </ol>
        {% endfor %}
        {% if recto %}
            <input type = "submit" value = "Completed">
        {% endif %}
        </form> 
        </ul>
    	</div>
    </div>   

    
    <div style="float: right; margin-right: 60px;">
    
        <ul>
            <div id = "rightcol">
            <b> Recommended by {{friend}} </b>
                {% for r in recfrom %}
                <ol>{{r.name}}</ol>
                {% endfor %}
        </ul>
    </div>
    </div>
    </div>

</body>
</html>
