{% extends "base_sidebar.html" %}
{% load staticfiles %}
{% block content %} 


<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />

    {{error}} <br>
    <div id = "info" align = "center">
        <div id = "namedisplay">
            {{friend.firstname}} &nbsp; {{friend.lastname}}
        </div>

        <div id = "usernamedisplay">
            {{friend.user.username}}
        </div>
    </div>

    <div align = "center">
    <b> Add a recommendation </b>
    <form method = "post"> {% csrf_token %}
        <input type = "hidden" name = "fid" value = "1">
        <input type = "text" name = "new">
        <select name = "newpoints">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
        <input type = "submit">
    </form>
    </div>

    <div align = "center">
        
    <div id = "bothcol">
	<div class = "leftcol"> 
        <b> Recommended to {{friend.firstname}} </b>
    
        <form method = "post"> {% csrf_token %}
            <input type = "hidden" name = "fid" value = "2">
        {% for r in recto %}
            <ol>
            <input type = "checkbox" name = "completed"  value = {{r.media.name}}>
            {{r.media.name}} &nbsp; {{r.points}}
            </ol>
        {% endfor %}
        {% if recto %}
            <input type = "submit" value = "Completed">
        {% endif %}
        </form> 
        </ul>
    </div>

    <div class = "rightcol">
        <b> Recommended by {{friend.firstname}} </b>
            {% for r in recfrom %}
                <ol>{{r.media.name}} &nbsp; {{r.points}}</ol>
            {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}
