body {
    font-family: 'Asap', sans-serif;
}

#info {
    height: auto;
    width: 500px;
    padding: 10px;
    margin: 10px;
    background-color: #DFDFDF;
}

#namedisplay {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size: 25px;

}

#usernamedisplay {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}



#bothcol{
    height:600px;
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

#bothcol div{
    height: 80px;
    width: 150px;
    margin-top: 20px;
}

.leftcol{
    float: left;
    margin-left: 60px;
}

.leftcol ol{
    margin-left: -35px;

}

.rightcol{
    float: left;
    margin-left: 60px;
}

.rightcol ol{
    margin-left: -35px;
}
