#submit{
	margin: 0 auto 20px;
	position: relative;
	font-size: 16px;
	color: #09c;
	display: block;
	width: 245px;
	padding: 19px 29px 2px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	    

}

#media {
	margin: 0 auto 20px;
	position: relative;
	width: 245px;
	display: block;
	padding: 1px 29px 2px;
}	

#media ol{
	display: block;
	margin:0px -4px 0px 0px;
	color: #222;
	font-size: 18px;
	padding: 0px 15px 0px;
	border: solid 1px #939393;
	list-style: square;
	background: #CCFFFF;
	background-color: #E8EBDF;
}
