{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'createaccount/style.css' %}" />

<!DOCTYPE html>

<html>
<head>
    <title>Create New Recco Account</title>
</head>
<body>
    <div class = "container">
    <!-- Can customize form with more detail: https://docs.djangoproject.com/en/dev/topics/forms/ -->
    	<form action="/createaccount/" method="post">{% csrf_token %}
       	 {{ form.as_p }}
   	 <input type="submit" value="Submit" />
   	 </form>
    </div>

</body>

</html>
