form {
    margin: auto;
    position: relative;
    width:550px;
    font-family: sans-serif;
    font-style: italic;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

input {
    width: 300px;
    display: block;
    border: 1px solid #999;
}
