body{
    background-color: #F6F6F6;
    margin:0px;
}

#sidepanel{
    position: absolute;
    left: 20px;
    top: 70px;
    width: 170px;
}

#sidepanel li {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font: 200 20px/1.5 'Asap', sans-serif;

}

#sidepanel li a {
    padding: 4px;
    text-decoration: none; color: #000000;
    display: block;
    width: 200px;
    background: #DFDFDF;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

#sidepanel li a:hover{
    font-size: 20px;
    background: #A0A0A0;
}
