body{
    background-color: #F6F6F6;
    margin:0px;
}

#sidepanel{
    position: absolute;
    width: 170px;
    margin: 50px;
}

#sidepanel li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 200 20px/1.5 'Asap', sans-serif;
    border-bottom: 1px solid #ccc;

}

#sidepanel li a {
    text-decoration: none; color: #000;
    display: block;
    width: 200px
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

#sidepanel li a:hover{
    font-size: 20px;
    background: #A0A0A0;
}
