
{% extends "base_sidebar.html" %}
{% block content %}
      <form method = "post" name="myForm"> 
          {% csrf_token %}
        <input id="submit" type="text" name="new" size="31" placeholder="Submit">
      </form>
      <div id = "media">
        {% for rec in recs %}
            {% if rec.name %}
                <ol> {{rec.name}}</ol> 	
            {% endif %}
        {% endfor %}
      </div>
{% endblock %}
{% load staticfiles %}


<!--
<link rel="stylesheet" type="text/css" href="{% static 'MyMedia/style.css' %}" />

<!DOCTYPE html>

<html>
<body>
	<div id = "sidepanel">
		<li><a href = "../home")>Home</a></li>
		<li><a href = "../mymedia")>My Media</a></li>
		<li><a href = "../totalrecommendations")>Recommendations</a></li>
		<li><a href = "../friends")>Friends</a></li>
	</div>
  <form method = "post" name="myForm"> 
      {% csrf_token %}
    <input id="submit" type="text" name="new" size="31" placeholder="Submit">
  </form>
  <div id = "media">
    {% for rec in recs %}
        {% if rec.name %}
            <ol> {{rec.name}}</ol> 	
        {% endif %}
    {% endfor %}
  </div>

</body>
</html>
-->
