{% extends "base_sidebar.html" %}
{% block content %} 

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'MyMedia/style.css' %}" />


 <div id = "media">      
    <ol id="mediaList">
        {% for rec in recs %}
            {% if rec.name %}
                <li id="mediaStuffs"> 
                    <h2>{{rec.name}} </h2>
                </li> 	
            {% endif %}
        {% endfor %}
    </ol>
    
    <form method = "post" name="myForm"> 
      {% csrf_token %}
        <input id="submit" type="text" name="new" size="31" placeholder="Submit">
    </form>

  </div>
{% endblock %}
