{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'friends/style.css' %}" />

<!DOCTYPE html>

<html>
<body>
	<div id = "sidepanel">
		<li><a href = "../home")>Home</a></li>
		<li><a href = "../mymedia")>My Media</a></li>
		<li><a href = "../totalrecommendations")>Recommendations</a></li>
		<li><a href = "../friends")>Friends</a></li>
   	</div>
	 
    <form method = "post" name = "myForm"> {% csrf_token %}
        <input type = "text" name = "new">
        <input type = "submit">
    </form>

    <div id="friends">
        {{error}}    
        {% for f in friends %}
       <ol> <a href= "../../profiles/{{f.user.username}}">{{f.firstname}} {{f.lastname}}</a>
     </ol>   {% endfor %}
    </div>

</body>
</html>
